@{
    ViewData["Title"] = "ExampleController üzerinden gelinen Index Sayfası";
    Layout = "LayoutExample";
}
@section Header
{
   <p>Bu yazılanlar Header yazısının hemen altına yazılacak.</p>
}

@section Footer{
    <p>Bu kodlar Footer altına eklenecek.</p>
}

<p>Bu yazılan ise RenderBody metodu otomatik atması gereken yere atacak. </p>