
@{
    ViewData["Title"] = "Index";
}

<h1>Sayfayı oluşturduk.</h1>

<div > Bugünün tarihi : @DateTime.Now.ToShortDateString() </div> 
@{
    var Datetime = DateTime.Now.ToShortDateString();
    @: Bugünün tarihi : @Datetime



    var Message = "Merhaba Alper";
    <div> @Message </div>

   
}